.expanding-cards__container{
    display: flex;
    width: 90vw;
    gap: 1rem;
}

.expanding-card{
    min-width: 60px;
    border-radius: 40px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    flex: 0.5;
    transition: flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    cursor: pointer;
}

.expanding-card__content{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.expanding-card__content-flex{
    justify-content: center;
    padding: 15px;
    border-radius: 0px 0px 40px 40px;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.expanding-card__icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-white);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.expanding-card__content-flex h3 {
    display: none;
}

// acrive expanding card
.expanding-card.active{
    flex: 5;
}

.expanding-card.active .expanding-card__content{
    width: 100%;
    display: block;
}

.expanding-card.active .expanding-card__content-flex{
    justify-content: left;
    background-color: rgb(0, 0, 0, 0.4);
}

.expanding-card.active .expanding-card__content-flex{
    display: flex;
}

.expanding-card.active .expanding-card__content-flex h3 {
    display: block;
}

// hide some card in smaller screen
@media screen and (max-width: 480px) {
    .expanding-card:nth-of-type(4),.expanding-card:nth-of-type(5){
        display: none;
    }

    .expanding-cards__container{
        gap: 0.5rem;
    }
}