.text-blue{
    color: var(--color-blue);
}

.text-green{
    color: var(--color-green);
}

.text-white{
    color: var(--color-white);
}

.text-yellow{
    color: var(--color-yellow);
}

.text-orange{
    color: var(--color-orange);
}

.text-red{
    color: var(--color-red);
}

.text-neutral{
    color: var(--color-neutral-900);
}