:root{
    --color-neutral-900: #242323;
    --color-white: #FFFFFF;
    --color-blue: #5E9DE6;
    --color-green: #28CC7C;
    --color-yellow: #FFCD69;
    --color-orange: #FC6D58;
    --color-red: #ED5467;
}